@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0px;
}

:root {
	--dot-color: #e5e5e5;
	--background: #ffffff;
	--foreground: #171717;
	--bg-color: rgba(74, 74, 74, 0.06);
	--grid-size: 30px;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
	scroll-behavior: smooth;
}

:root {
	--dot-color: #d8d8d8;
}

[data-theme="dark"] {
	--dot-color: #373737;
}

@theme {
	--color-dark: #121212;
	--color-primary: #0554f2;
	--color-blog-card: #008080;
	--breakpoint-ssm: 620px;
	--color-oklch-light: oklch(75% 0.183 55.934);
	--color-oklch-dark: oklch(55% 0.15 30);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.cUnderline {
	display: inline-block;
	position: relative;
}

.cUnderline::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 2;
	left: 0;
	background: oklch(70.5% 0.213 47.604);
	transform-origin: bottom left;
	transition: transform 0.25s ease-in-out;
}

.cUnderline:hover::after {
	transform: scaleX(1);
	transform-origin: bottom right;
}

.ccUnderline {
	display: inline-block;
	position: relative;
}

.ccUnderline::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 2;
	left: 0;
	background: rgb(88, 88, 226);
	transform-origin: bottom center;
	transition: transform 0.25s ease-in-out;
}

.ccUnderline:hover::after {
	transform: scaleX(1);
	transform-origin: bottom;
}

.mUnderline {
	display: inline-block;
	position: relative;
}

.mUnderline::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 5;
	left: 0;
	background: rgb(252, 72, 56);
	transform-origin: bottom right;
	transition: transform 0.25s ease-in-out;
}

.mUnderline:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.animate-spinner {
	animation: spin 10s linear infinite;
}

.animate-spinner-navbar {
	animation: spin 40s linear infinite;
}

/*********** Baron scrollbar *************/
.baron {
	position: relative;
	overflow: hidden;
	height: 100vh;
}

.baron__scroller {
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.baron__scroller::-webkit-scrollbar {
	display: none;
}

.baron__content {
	min-height: 100%;
	width: 100%;
}

.baron__track {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 8px; /* Space from the right edge */
	width: 6px;
	z-index: 9999;
	right: 3px;
}

.baron__bar {
	position: absolute;
	right: 0;
	width: 100%;
	padding: 0 2px;
	background: rgba(200, 162, 162, 0.501);
	opacity: 0.5;
	border-radius: 5px;
	cursor: pointer;
	@apply duration-300 transition-opacity
}

.baron__bar:hover {
	opacity: 1;
}
